<a href="https://colab.research.google.com/github/navanil018/LearningPython/blob/master/Python_concepts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('MJ' + str(2))

MJ2

In [0]:
sales_record = {
'price': 3.24,
'num_items': 4,
'person': 'MJ'}

In [3]:
type(sales_record)

dict

Important for coding

In [4]:
sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'

print(sales_statement.format(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items']*sales_record['price']))

MJ bought 4 item(s) at a price of 3.24 each for a total of 12.96

Class and objects

In [0]:
class FirstClass:
    def __init__(self,name,symbol):
        self.name = name
        self.symbol = symbol
    def square(self):
        return self.symbol * self.symbol
    def cube(self):
        return self.symbol * self.symbol * self.symbol
    def multiply(self, x):
        return self.symbol * x

In [0]:
eg4 = FirstClass('Five',5)

In [11]:
print (eg4.square())
print (eg4.cube())
print(FirstClass.multiply(eg4,2))

25
125
10

There might be cases where a new class would have all the previous characteristics of an already defined class. So the new class can "inherit" the previous class and add it's own methods to it. This is called as inheritance.

In [0]:
class SoftwareEngineer:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    def salary(self, value):
        self.money = value
        print (self.name,"earns",self.money)

In [14]:
a = SoftwareEngineer('Kartik',26)
a.salary(40000)

Kartik earns 40000

In [0]:
dir(SoftwareEngineer)

In [0]:
class Artist:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    def money(self,value):
        self.money = value
        print (self.name,"earns",self.money)
    def artform(self, job):
        self.job = job
        print (self.name,"is a", self.job)

In [18]:
b = Artist('Nitin',20)
b.money(50000)
b.artform('Musician')

Nitin earns 50000
Nitin is a Musician

In [21]:
import json
# some JSON:
x =  '{ "name":"John", "age":30, "city":"New York"}'

# parse x:
y = json.loads(x)

# the result is a Python dictionary:
print(y["age"])



# a Python object (dict):
x1 = {
  "name": "John",
  "age": 30,
  "city": "New York"
}

# convert into JSON:
y1 = json.dumps(x1)

# the result is a JSON string:
print(y1)

30
{"name": "John", "age": 30, "city": "New York"}

In [22]:
x = {
  "name": "MJ",
  "age": 32,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

print(json.dumps(x))

{"name": "MJ", "age": 32, "married": true, "divorced": false, "children": ["Ann", "Billy"], "pets": null, "cars": [{"model": "BMW 230", "mpg": 27.5}, {"model": "Ford Edge", "mpg": 24.1}]}

In [24]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

mytuple = ("apple", "banana", "cherry")

for x in mytuple:
  print(x)

apple
banana
cherry
apple
banana
cherry